/* Variables
-----------------------------*/
$body_padding: 16rem;
$footer_padding: 5rem;
$item_padding: 10px;
$nav_font_size: 16px;



/* Styles
-----------------------------*/
// Move down the second navbar
#nav2 {
  margin-top: 8rem;
}

/* Move down content because we have a fixed navbar that is 10rem tall */
body {
  padding-top: $body_padding;
}

#footer {
  margin-top: $footer_padding;
}

// stylling for the nav menu items
div {
  ul {
    li {
      // padding between the items
      padding: $item_padding;

      // font size for the nav menu
      a {
        font-size: $nav_font_size;
      } //a
    }//li
  }//ul
}//div

// jumbotron
#site_banner {
  background-image: image-url('site_banner2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
