/* Move down content because we have a fixed navbar that is 10rem tall */
body {
  padding-top: 10rem;
}

#footer {
  margin-top: 5rem;
}

// stylling for the nav menu items
div {
  ul {
    li {
      // padding between the items
      padding: 10px;

      // font size for the nav menu
      a {
        font-size: 16px;
      } //a
    }//li
  }//ul
}//div

// jumbotron
#site_banner {
  background-image: image-url('site_banner2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
